/*-----------------------------------------------------------------------------
 * Fonts
 *---------------------------------------------------------------------------*/

html{
	font-size: 62.5%;
}

body{
	color: black;
	line-height: 1.5;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.8rem;

	a{
		text-decoration: none;
	}
}

#main-nav{
	color: var( --on-primary-color );
}

h1 a,
h2 a,
h3 a{
	color: black;
}
